## Preparazione dei dati per le metriche

> Qui dobbiamo prendere i dati grezzi raccolti dalle lezioni che sono state fatte e renderli possibili da leggere. Inoltre abbiamo bisogno di una sistemazione per farlo più volte e adattarlo in base all'anno.

#### Sistemazione dell'algoritmo

In [756]:
import pandas as pd
import os
ANNO = 2024
OPERZIONE = 1
NOME = 'Lezioni.csv'
DATI = 'Data\Da_aggiungere.csv'
#DATI = 'Data\Data.csv'

In [757]:
df = pd.read_csv(DATI) #Da_aggiungere
df.head()

   Ora   Data  Slide  Professoressa
0    7    201   C108          Laura
1   10    401   B231       Beatrice
2    7    501   C132          Clara
3    7    901   B118           Rita
4   10   1001   C119           Asia

## Riparando le colonne

- Lezione

In [758]:
def livello(valore):
    valore = list(valore)
    valore = f' {valore[1]}{valore[2]}'
    return valore

#livello(' C123')
df[' Livello'] = df[' Slide'].apply(livello)

### Le date

> Qui provere oltre a corregere le date, si proverà ad aggiungere altre colonne per avere una comprensione più nel dettaglio

In [759]:
mapping_day = {"Monday": "Lunedì", 
           "Tuesday": "Martedì", 
           "Wednesday": "Mercoledì",
           "Thursday": "Giovedì",
           "Friday": "Venerdì",
           "Saturday": "Sabato",
           "Sunday": "Domenica"}

mapping_month = {"January": "Gennaio",
                 "February": "Febbraio",
                 "March": "Marzo",
                 "April": "Abrile",
                 "May": "Maggio", 
                 "June": "Giugno", 
                 "July": "Luglio",
                 "August": "Agosto",
                 "September": "Settembre",
                 "October": "Ottobre",
                 "November": "Novembre",
                 "December": "Dicembre"}

- Date

In [760]:
df[' Data'] = df[' Data'].astype(str)
df[' Data'] = df[' Data'].str.zfill(4).str.replace(r'^(\d{2})(\d{2})$', r'\1-\2', regex=True)

def agg_anno(valore):
    valore = str(valore)
    valore = f'{valore}-{ANNO}'
    return valore

df[' Data'] = df[' Data'].apply(agg_anno)

In [761]:
df.head()

   Ora        Data  Slide  Professoressa  Livello
0    7  02-01-2024   C108          Laura       C1
1   10  04-01-2024   B231       Beatrice       B2
2    7  05-01-2024   C132          Clara       C1
3    7  09-01-2024   B118           Rita       B1
4   10  10-01-2024   C119           Asia       C1

In [762]:
df[' Data'] = pd.to_datetime(df[' Data'].astype(str), format='%d-%m-%Y').dt.strftime('%d-%m-%Y')
df[' Data'] = pd.to_datetime(df[' Data'].astype(str), format='%d-%m-%Y')

In [763]:
df.head()

   Ora       Data  Slide  Professoressa  Livello
0    7 2024-01-02   C108          Laura       C1
1   10 2024-01-04   B231       Beatrice       B2
2    7 2024-01-05   C132          Clara       C1
3    7 2024-01-09   B118           Rita       B1
4   10 2024-01-10   C119           Asia       C1

In [764]:
df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()
df[' Anno'] = ANNO

df[" Giorno della settimana"] = df[" Giorno della settimana"].replace(mapping_day)
df[" Mese"] = df[" Mese"].replace(mapping_month)

In [766]:
df.head()

,Ora,Data,Slide,Professoressa,Livello,Giorno della settimana,Mese,Anno
0,7,2024-01-02,C108,Laura,C1,Martedì,Gennaio,2024
1,10,2024-01-04,B231,Beatrice,B2,Giovedì,Gennaio,2024
2,7,2024-01-05,C132,Clara,C1,Venerdì,Gennaio,2024
3,7,2024-01-09,B118,Rita,B1,Martedì,Gennaio,2024
4,10,2024-01-10,C119,Asia,C1,Mercoledì,Gennaio,2024

In [767]:
df = df.rename(columns={' Slide':'Lezione', ' Data':'Data',
                        ' Professoressa':'Professoressa', ' Livello':'Livello',
                        ' Giorno della settimana':'Giorno della settimana',
                        ' Mese':'Mese', ' Anno':'Anno'})

In [768]:
df = df.reindex(columns=['Data', 'Ora', 'Professoressa',
                         'Livello', 'Lezione', 'Giorno della settimana',
                         'Mese', 'Anno']) # Riordinando le colonne

In [769]:
df.head()

,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,2024-01-02,7,Laura,C1,C108,Martedì,Gennaio,2024
1,2024-01-04,10,Beatrice,B2,B231,Giovedì,Gennaio,2024
2,2024-01-05,7,Clara,C1,C132,Venerdì,Gennaio,2024
3,2024-01-09,7,Rita,B1,B118,Martedì,Gennaio,2024
4,2024-01-10,10,Asia,C1,C119,Mercoledì,Gennaio,2024

#### Conclusione

Fin qui è già tutto di cui avevamo bisogno. Ma ciò che si vuole fare dopo può cambiare in base all'anno, o se si vuole metterli dentro ai dati principali.

#### I dati da unire

- Dati di pertenza

- Dati nuovi

In [770]:
df.head()

,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,2024-01-02,7,Laura,C1,C108,Martedì,Gennaio,2024
1,2024-01-04,10,Beatrice,B2,B231,Giovedì,Gennaio,2024
2,2024-01-05,7,Clara,C1,C132,Venerdì,Gennaio,2024
3,2024-01-09,7,Rita,B1,B118,Martedì,Gennaio,2024
4,2024-01-10,10,Asia,C1,C119,Mercoledì,Gennaio,2024

In [771]:
def conclusione(operazione:int, csv:None):
    op = operazione
    if op == 1:
        dataframe = pd.read_csv(csv)
        dataframe = dataframe.drop('Unnamed: 0', axis=1)
        df['Data'] = df['Data'].astype(str)

        df_finale = pd.concat([dataframe, df])
        os.remove('Lezioni.csv')
        df_finale.to_csv('Lezioni.csv')
        return df_finale
    elif op == 2:
        df.to_csv('Lezioni.csv')

In [772]:
conclusione(OPERZIONE, NOME)

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1.0,2023-05-22,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2.0,2023-05-22,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3.0,2023-05-23,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4.0,2023-05-23,11,Sara,B1,B143,Martedì,Maggio,2023
4,5.0,2023-05-24,10,Alice,B1,B141,Mercoledì,Maggio,2023
...,...,...,...,...,...,...,...,...,...
12,NaN,2024-02-24,10,Graziana,C1,C108,Sabato,Febbraio,2024
13,NaN,2024-02-25,7,Miriam,B2,B230,Domenica,Febbraio,2024
14,NaN,2024-02-01,7,Chiara,C1,C106,Giovedì,Febbraio,2024
15,NaN,2024-02-07,7,Miriam,C1,C129,Mercoledì,Febbraio,2024
16,NaN,2024-02-15,7,Miriam,B2,B238,Giovedì,Febbraio,2024

In [773]:
#df['Data'] = df['Data'].astype(str)

In [774]:
df.dtypes

Data                      object
Ora                        int64
Professoressa             object
Livello                   object
Lezione                   object
Giorno della settimana    object
Mese                      object
Anno                       int64
dtype: object

In [775]:
df = pd.read_csv('Lezioni.csv')

In [776]:
# Correzione degli spazi

def strip(valore):
    tipo = str(type(valore))
    valore = str(valore)
    valore = valore.strip()

    if tipo == "<class 'int'>":
        valore = int(valore)
    elif tipo == "<class 'str'>":
        valore = str(valore)
    else:
        valore = float(valore)

    return valore

lista_colonne = df.columns.to_list()

for x in lista_colonne:
    df[x] = df[x].apply(strip)
    df.to_csv('Lezioni.csv')

df['Data'] = pd.to_datetime(df['Data'].astype(str), format='%Y-%m-%d')
df.to_csv('Lezioni.csv')

In [777]:
totale, _ = df.shape
totale = totale + 1
index = list(map(lambda x: x, range(1, totale)))

df = df.assign(Index=index)

In [778]:
df = df.reindex(columns=['Index', 'Data', 'Ora', 'Professoressa',
                         'Livello', 'Lezione', 'Giorno della settimana',
                         'Mese', 'Anno']) # Riordinando le colonne

In [779]:
df.to_csv('Lezioni.csv')

In [780]:
df.dtypes

Index                      int64
Data                      object
Ora                        int64
Professoressa             object
Livello                   object
Lezione                   object
Giorno della settimana    object
Mese                      object
Anno                       int64
dtype: object

In [781]:
df.head()

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,2023-05-22,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,2023-05-22,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3,2023-05-23,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4,2023-05-23,11,Sara,B1,B143,Martedì,Maggio,2023
4,5,2023-05-24,10,Alice,B1,B141,Mercoledì,Maggio,2023