In [50]:
import pandas as pd
ANNO = 2023

In [51]:
df = pd.read_csv('Data.csv')
df.head()

   Ora   Data  Slide  Professoressa
0    8   2205   B132       Virginia
1   11   2205   B135       Graziana
2   10   2305   C123      Francesca
3   11   2305   B143           Sara
4   10   2405   B141          Alice

## Riparando le colonne

- Lezione

In [52]:
def livello(valore):
    valore = list(valore)
    valore = f' {valore[1]}{valore[2]}'
    return valore

#livello(' C123')
df[' Livello'] = df[' Slide'].apply(livello)

### Le date

> Qui provere oltre a corregere le date, si proverà ad aggiungere altre colonne per avere una comprensione più nel dettaglio

In [53]:
mapping_day = {"Monday": "Lunedì", 
           "Tuesday": "Martedì", 
           "Wednesday": "Mercoledì",
           "Thursday": "Giovedì",
           "Friday": "Venerdì",
           "Saturday": "Sabato",
           "Sunday": "Domenica"}

mapping_month = {"January": "Gennaio",
                 "February": "Febbraio",
                 "March": "Marzo",
                 "April": "Abrile",
                 "May": "Maggio", 
                 "June": "Giugno", 
                 "July": "Luglio",
                 "August": "Agosto",
                 "September": "Settembre",
                 "October": "Ottobre",
                 "November": "Novembre",
                 "December": "Dicembre"}

- Date

In [54]:
df[' Data'] = df[' Data'].astype(str)
df[' Data'] = df[' Data'].str.zfill(4).str.replace(r'^(\d{2})(\d{2})$', r'\1-\2', regex=True)

In [55]:
df.head(n=1)

   Ora   Data  Slide  Professoressa  Livello
0    8  22-05   B132       Virginia       B1

In [56]:
df[' Data'] = pd.to_datetime(df[' Data'].astype(str), format='%d-%m').dt.strftime('%d-%m-2023')

In [57]:
df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()
df[' Anno'] = ANNO

df[" Giorno della settimana"] = df[" Giorno della settimana"].replace(mapping_day)
df[" Mese"] = df[" Mese"].replace(mapping_month)

C:\Users\ES\AppData\Local\Temp\ipykernel_2516\3397591383.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
C:\Users\ES\AppData\Local\Temp\ipykernel_2516\3397591383.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()

In [58]:
df[' Mese'].unique()

array(['Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre',
       'Novembre', 'Dicembre'], dtype=object)

In [59]:
df = df.rename(columns={' Slide':' Lezione'})

In [60]:
df.columns

Index(['Ora', ' Data', ' Lezione', ' Professoressa', ' Livello',
       ' Giorno della settimana', ' Mese', ' Anno'],
      dtype='object')

In [61]:
df = df[['Ora', ' Data', ' Lezione', ' Professoressa', ' Livello',
       ' Giorno della settimana', ' Mese', ' Anno']]

In [ ]:
# Creare una colonna a partire dalla lista
colonna = pd.Series(numeri)

# Concatenare la colonna con il DataFrame
df = pd.concat([df, colonna], axis=1)

In [69]:
Index = list(map(lambda x: x, range(1, 11)))

In [62]:
df.head()

,Ora,Data,Lezione,Professoressa,Livello,Giorno della settimana,Mese,Anno
0,8,22-05-2023,B132,Virginia,B1,Lunedì,Maggio,2023
1,11,22-05-2023,B135,Graziana,B1,Lunedì,Maggio,2023
2,10,23-05-2023,C123,Francesca,C1,Martedì,Maggio,2023
3,11,23-05-2023,B143,Sara,B1,Martedì,Maggio,2023
4,10,24-05-2023,B141,Alice,B1,Mercoledì,Maggio,2023

###