## Preparazione dei dati per le metriche

> Qui dobbiamo prendere i dati grezzi raccolti dalle lezioni che sono state fatte e renderli possibili da leggere. Inoltre abbiamo bisogno di una sistemazione per farlo più volte e adattarlo in base all'anno.

#### Sistemazione dell'algoritmo

In [427]:
import pandas as pd
ANNO = 2023

In [428]:
df = pd.read_csv('Data.csv')
df.head()

   Ora   Data  Slide  Professoressa
0    8   2205   B132       Virginia
1   11   2205   B135       Graziana
2   10   2305   C123      Francesca
3   11   2305   B143           Sara
4   10   2405   B141          Alice

## Riparando le colonne

- Lezione

In [429]:
def livello(valore):
    valore = list(valore)
    valore = f' {valore[1]}{valore[2]}'
    return valore

#livello(' C123')
df[' Livello'] = df[' Slide'].apply(livello)

### Le date

> Qui provere oltre a corregere le date, si proverà ad aggiungere altre colonne per avere una comprensione più nel dettaglio

In [430]:
mapping_day = {"Monday": "Lunedì", 
           "Tuesday": "Martedì", 
           "Wednesday": "Mercoledì",
           "Thursday": "Giovedì",
           "Friday": "Venerdì",
           "Saturday": "Sabato",
           "Sunday": "Domenica"}

mapping_month = {"January": "Gennaio",
                 "February": "Febbraio",
                 "March": "Marzo",
                 "April": "Abrile",
                 "May": "Maggio", 
                 "June": "Giugno", 
                 "July": "Luglio",
                 "August": "Agosto",
                 "September": "Settembre",
                 "October": "Ottobre",
                 "November": "Novembre",
                 "December": "Dicembre"}

- Date

In [431]:
df[' Data'] = df[' Data'].astype(str)
df[' Data'] = df[' Data'].str.zfill(4).str.replace(r'^(\d{2})(\d{2})$', r'\1-\2', regex=True)

In [432]:
df[' Data'] = pd.to_datetime(df[' Data'].astype(str), format='%d-%m').dt.strftime('%d-%m-2023')

In [433]:
df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()
df[' Anno'] = ANNO

df[" Giorno della settimana"] = df[" Giorno della settimana"].replace(mapping_day)
df[" Mese"] = df[" Mese"].replace(mapping_month)

C:\Users\ES\AppData\Local\Temp\ipykernel_6704\3397591383.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
C:\Users\ES\AppData\Local\Temp\ipykernel_6704\3397591383.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()

In [434]:
df[' Mese'].unique()

array(['Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre',
       'Novembre', 'Dicembre'], dtype=object)

In [435]:
totale, _ = df.shape
totale = totale + 1
index = list(map(lambda x: x, range(1, totale)))

df = df.assign(Index=index)

In [436]:
df.head()

,Ora,Data,Slide,Professoressa,Livello,Giorno della settimana,Mese,Anno,Index
0,8,22-05-2023,B132,Virginia,B1,Lunedì,Maggio,2023,1
1,11,22-05-2023,B135,Graziana,B1,Lunedì,Maggio,2023,2
2,10,23-05-2023,C123,Francesca,C1,Martedì,Maggio,2023,3
3,11,23-05-2023,B143,Sara,B1,Martedì,Maggio,2023,4
4,10,24-05-2023,B141,Alice,B1,Mercoledì,Maggio,2023,5

In [437]:
df = df.rename(columns={' Slide':' Lezione'})

In [438]:
df = df.reindex(columns=['Index', ' Data', 'Ora', ' Professoressa',
                         ' Livello', ' Lezione', ' Giorno della settimana',
                         ' Mese', ' Anno'])

In [439]:
lista_colonne = df.columns.to_list()

for x in lista_colonne:
    pass
    #df[x] = df[x].apply(lambda x: x.strip())

In [440]:
df.head()

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,22-05-2023,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,22-05-2023,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3,23-05-2023,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4,23-05-2023,11,Sara,B1,B143,Martedì,Maggio,2023
4,5,24-05-2023,10,Alice,B1,B141,Mercoledì,Maggio,2023

#### Conclusione

Fin qui è già tutto di cui avevamo bisogno. Ma ciò che si vuole fare dopo può cambiare in base all'anno, o se si vuole metterli dentro ai dati principali.

#### I dati da unire

- Dati di pertenza

In [441]:
l = pd.read_csv('Lezioni.csv')
l = l.drop('Unnamed: 0', axis=1)
l.head()

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,22-05-2023,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,22-05-2023,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3,23-05-2023,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4,23-05-2023,11,Sara,B1,B143,Martedì,Maggio,2023
4,5,24-05-2023,10,Alice,B1,B141,Mercoledì,Maggio,2023

- Dati nuovi

In [442]:
df.head()

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,22-05-2023,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,22-05-2023,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3,23-05-2023,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4,23-05-2023,11,Sara,B1,B143,Martedì,Maggio,2023
4,5,24-05-2023,10,Alice,B1,B141,Mercoledì,Maggio,2023

In [443]:
def conclusione(operazione:int, csv:None):
    op = operazione
    if op == 1:
        dataframe = pd.read_csv(csv)
        dataframe = dataframe.drop('Unnamed: 0', axis=1)

        df_finale = pd.concat([dataframe, df])
        df_finale.to_csv('L.csv')
        return df_finale
    elif op == 2:
        df.to_csv('Lezioni.csv')

In [444]:
conclusione(2, None)