## Preparazione dei dati per le metriche

> Qui dobbiamo prendere i dati grezzi raccolti dalle lezioni che sono state fatte e renderli possibili da leggere. Inoltre abbiamo bisogno di una sistemazione per farlo più volte e adattarlo in base all'anno.

#### Sistemazione dell'algoritmo

In [75]:
import pandas as pd
ANNO = 2023

In [76]:
df = pd.read_csv('Data.csv')
df.head()

   Ora   Data  Slide  Professoressa
0    8   2205   B132       Virginia
1   11   2205   B135       Graziana
2   10   2305   C123      Francesca
3   11   2305   B143           Sara
4   10   2405   B141          Alice

## Riparando le colonne

- Lezione

In [77]:
def livello(valore):
    valore = list(valore)
    valore = f' {valore[1]}{valore[2]}'
    return valore

#livello(' C123')
df[' Livello'] = df[' Slide'].apply(livello)

### Le date

> Qui provere oltre a corregere le date, si proverà ad aggiungere altre colonne per avere una comprensione più nel dettaglio

In [78]:
mapping_day = {"Monday": "Lunedì", 
           "Tuesday": "Martedì", 
           "Wednesday": "Mercoledì",
           "Thursday": "Giovedì",
           "Friday": "Venerdì",
           "Saturday": "Sabato",
           "Sunday": "Domenica"}

mapping_month = {"January": "Gennaio",
                 "February": "Febbraio",
                 "March": "Marzo",
                 "April": "Abrile",
                 "May": "Maggio", 
                 "June": "Giugno", 
                 "July": "Luglio",
                 "August": "Agosto",
                 "September": "Settembre",
                 "October": "Ottobre",
                 "November": "Novembre",
                 "December": "Dicembre"}

- Date

In [79]:
df[' Data'] = df[' Data'].astype(str)
df[' Data'] = df[' Data'].str.zfill(4).str.replace(r'^(\d{2})(\d{2})$', r'\1-\2', regex=True)

In [80]:
df[' Data'] = pd.to_datetime(df[' Data'].astype(str), format='%d-%m').dt.strftime('%d-%m-2023')

In [81]:
df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()
df[' Anno'] = ANNO

df[" Giorno della settimana"] = df[" Giorno della settimana"].replace(mapping_day)
df[" Mese"] = df[" Mese"].replace(mapping_month)

C:\Users\ES\AppData\Local\Temp\ipykernel_13752\3397591383.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[' Giorno della settimana'] = pd.to_datetime(df[' Data']).dt.day_name()
C:\Users\ES\AppData\Local\Temp\ipykernel_13752\3397591383.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[' Mese'] = pd.to_datetime(df[' Data']).dt.month_name()

In [82]:
df[' Mese'].unique()

array(['Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre',
       'Novembre', 'Dicembre'], dtype=object)

totale, _ = df.shape
index = list(map(lambda x: x, range(1, totale)))
index1 = pd.Series(index)

df = pd.concat([df, index1], axis=1)

In [83]:
df.head()

,Ora,Data,Slide,Professoressa,Livello,Giorno della settimana,Mese,Anno
0,8,22-05-2023,B132,Virginia,B1,Lunedì,Maggio,2023
1,11,22-05-2023,B135,Graziana,B1,Lunedì,Maggio,2023
2,10,23-05-2023,C123,Francesca,C1,Martedì,Maggio,2023
3,11,23-05-2023,B143,Sara,B1,Martedì,Maggio,2023
4,10,24-05-2023,B141,Alice,B1,Mercoledì,Maggio,2023

In [84]:
df = df.rename(columns={' Slide':' Lezione'})

In [85]:
df.columns

Index(['Ora', ' Data', ' Lezione', ' Professoressa', ' Livello',
       ' Giorno della settimana', ' Mese', ' Anno'],
      dtype='object')

In [86]:
df = df[['Ora', ' Data', ' Lezione', ' Professoressa', ' Livello',
       ' Giorno della settimana', ' Mese', ' Anno']]

In [87]:
df.head()

,Ora,Data,Lezione,Professoressa,Livello,Giorno della settimana,Mese,Anno
0,8,22-05-2023,B132,Virginia,B1,Lunedì,Maggio,2023
1,11,22-05-2023,B135,Graziana,B1,Lunedì,Maggio,2023
2,10,23-05-2023,C123,Francesca,C1,Martedì,Maggio,2023
3,11,23-05-2023,B143,Sara,B1,Martedì,Maggio,2023
4,10,24-05-2023,B141,Alice,B1,Mercoledì,Maggio,2023

#### Conclusione

Fin qui è già tutto di cui avevamo bisogno. Ma ciò che si vuole fare dopo può cambiare in base all'anno, o se si vuole metterli dentro ai dati principali.

In [88]:
def conclusione(operazione:str, csv):
    dataframe = pd.read_csv(csv)
    op = operazione
    if op == 1:
        df_finale = pd.concat(df, df)
        df_finale.to_csv('L')
        return df_finale

In [89]:
#conclusione(1, 'Lezioni.csv')