In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data.csv')
df.head()

   Ora   Data  Slide  Professorassa
0    8   2205   B132       Virginia
1   11   2205   B135       Graziana
2   10   2305   C123      Francesca
3   11   2305   B143           Sara
4   10   2405   B141          Alice

In [3]:
df.dtypes

Ora                int64
 Data              int64
 Slide            object
 Professorassa    object
dtype: object

In [4]:
df[' Data'] = pd.to_datetime(df[' Data'].astype(str), format='%d%m').dt.strftime('%d-%m-2023')

In [5]:
df['Livello'] = df[' Slide'].str[:3]
df['Lezione'] = df[' Slide'].str[0:5]

In [6]:
df = df.drop(' Slide', axis=1)

In [7]:
df.columns

Index(['Ora', ' Data', ' Professorassa', 'Livello', 'Lezione'], dtype='object')

In [8]:
df.head()

   Ora        Data  Professorassa Livello Lezione
0    8  22-05-2023       Virginia      B1    B132
1   11  22-05-2023       Graziana      B1    B135
2   10  23-05-2023      Francesca      C1    C123
3   11  23-05-2023           Sara      B1    B143
4   10  24-05-2023          Alice      B1    B141

In [9]:
def mese(valore):
    valore = list(valore)
    mese = str(valore[3] + valore[4])
    return mese

def giorno(valore):
    valore = list(valore)
    giorno = str(valore[0] + valore[1])
    return giorno

In [10]:
mese('22-05-2023')

'05'

In [11]:
giorno('22-05-2023')

'22'

In [12]:
#df[' Mese'] = df[' Data'].apply(mese)

In [13]:
df[' Data'] = pd.to_datetime(df[' Data'], format='%d-%m-%Y')

In [14]:
df['Giorno della settimana'] = df[' Data'].dt.day_name()
df['Mese'] = df[' Data'].dt.month_name()
df['Anno'] = df[' Data'].dt.year

In [15]:
mapping_day = {"Monday": "Lunedì", 
           "Tuesday": "Martedì", 
           "Wednesday": "Mercoledì",
           "Thursday": "Giovedì",
           "Friday": "Venerdì",
           "Saturday": "Sabato",
           "Sunday": "Domenica"}

mapping_month = {"January": "Gennaio",
                 "February": "Febbraio",
                 "March": "Marzo",
                 "April": "Abrile",
                 "May": "Maggio", 
                 "June": "Giugno", 
                 "July": "Luglio",
                 "August": "Agosto",
                 "September": "Settembre",
                 "October": "Ottobre",
                 "November": "Novembre",
                 "December": "Dicembre"}

df["Giorno della settimana"] = df["Giorno della settimana"].replace(mapping_day)
df["Mese"] = df["Mese"].replace(mapping_month)

In [16]:
df['Mese'].unique()

array(['Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre',
       'Gennaio', 'Novembre', 'Dicembre'], dtype=object)

In [17]:
#df.set_index(' Data', inplace=True)

In [18]:
righe, _ = df.shape

In [19]:
ordine = 0
lista = []

for x in range(righe):
    ordine += 1
    lista.append(ordine)

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189]

In [20]:
# Aggiunta di una nuova colonna con l'indice
df['Index'] = lista

In [21]:
df = df[['Index', ' Data', 'Ora', ' Professorassa', 'Livello', 'Lezione',
       'Giorno della settimana', 'Mese', 'Anno']]

In [22]:
df.head()

,Index,Data,Ora,Professorassa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,2023-05-22,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,2023-05-22,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3,2023-05-23,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4,2023-05-23,11,Sara,B1,B143,Martedì,Maggio,2023
4,5,2023-05-24,10,Alice,B1,B141,Mercoledì,Maggio,2023

In [23]:
df.tail()

,Index,Data,Ora,Professorassa,Livello,Lezione,Giorno della settimana,Mese,Anno
184,185,2023-12-12,7,Lorella,C1,C132,Martedì,Dicembre,2023
185,186,2023-12-13,7,Federica,B2,B210,Mercoledì,Dicembre,2023
186,187,2023-12-14,10,Francesca 2,B2,B235,Giovedì,Dicembre,2023
187,188,2023-12-15,7,Chiara,C1,C101,Venerdì,Dicembre,2023
188,189,2023-12-27,7,Chiara,C1,C124,Mercoledì,Dicembre,2023

In [24]:
df.Mese.unique()

array(['Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre',
       'Gennaio', 'Novembre', 'Dicembre'], dtype=object)

In [25]:
df_mese = df[df['Mese'] == 'February']
df_mese

Empty DataFrame
Columns: [Index,  Data, Ora,  Professorassa, Livello, Lezione, Giorno della settimana, Mese, Anno]
Index: []

In [26]:
df_mese = df[df['Mese'] == 'Dicembre']
df_mese

,Index,Data,Ora,Professorassa,Livello,Lezione,Giorno della settimana,Mese,Anno
178,179,2023-12-05,7,Lorella,C1,C102,Martedì,Dicembre,2023
179,180,2023-12-05,9,Anna,B2,B214,Martedì,Dicembre,2023
180,181,2023-12-06,7,Federica,C1,C128,Mercoledì,Dicembre,2023
181,182,2023-12-06,11,Graziana,C1,C102,Mercoledì,Dicembre,2023
182,183,2023-12-07,7,Marina,C1,C134,Giovedì,Dicembre,2023
183,184,2023-12-08,8,Federica,C1,C123,Venerdì,Dicembre,2023
184,185,2023-12-12,7,Lorella,C1,C132,Martedì,Dicembre,2023
185,186,2023-12-13,7,Federica,B2,B210,Mercoledì,Dicembre,2023
186,187,2023-12-14,10,Francesca 2,B2,B235,Giovedì,Dicembre,2023
187,188,2023-12-15,7,Chiara,C1,C101,Venerdì,Dicembre,2023
188,189,2023-12-27,7,Chiara,C1,C124,Mercoledì,Dicembre,2023

In [27]:
df.to_csv('Lezioni.csv')